body {
  background: #f9b200 url(bg.png) repeat-x;
}

#headline-container {
  margin-bottom: 5px;
}

#login-box {
  margin: 0 auto;
  width: 450px;
  top: 110px;
  position: relative;
}

#login-form {
  background-color: #fff;
  border: 1px #f08a00 solid;
}

#logo-container {
  vertical-align: middle;
}

#logo {
  width: 128px;
  height: 128px;
}
